<h1>Home</h1>
<p>
  <center>This is the homepage for restaurant employees. </center>
</p>




<center>Interested in bringing PayFast to your restaurant? </center>



<%= link_to "Sign up here!", signup_path, :class => "signup_button round" %>

