<!DOCTYPE html>
<html lang="en">
<p>
	 <footer class="footer">
		   <nav class="round">
			   <div class="btn-toolbar">
			   <div class="btn-group">
				   <button class="btn" type="submit">
				   <button class="btn" type="submit">
				   <button class="btn" type="submit">
			   </div>
			   </div>
		   </nav>
	 </footer>
</p>
</html>