<!DOCTYPE html>
<html lang="en">
<!-- 
	 <footer class="footer">
	 	
		   <nav class="round">
			
			 <ul>
			   Questions? Email the PayFast team at <a href="mailto:payfastsolutions@gmail.com">PayFastSolutions@gmail.com</a>
			 </ul>
		   </nav>
		 
	 </footer>
 -->


<div id="footer" style="position: fixed;
	bottom: 0px; 
	width: 100%;
	height: 150px;
	clear:both;">
 		<center>
		Questions? Email the PayFast team at <a href="mailto:payfastsolutions@gmail.com">PayFastSolutions@gmail.com</a>
		</center>

</div>

</html>