<!DOCTYPE html>
<html lang="en">
	 <footer class="footer">
	 	
		   <nav class="round">
			
			 <ul>
			   Questions? Email the PayFast team at <a href="mailto:payfastsolutions@gmail.com">PayFastSolutions@gmail.com</a>
			 </ul>
		   </nav>
		 
	 </footer>
</html>